body{
	margin: 0;
	background-color: white;
	
}

.header{
	width: 85vw;
	display: flex;
	
}
.logo{
	width: 100vw;
	height: 9vh;
	text-align: center;

}


.logo h1{
	text-align: center;
	line-height: 9vh;
	text-align: center;
}
.menu{
	width: 100%;
	background:white;
	height: 8vh;
}
.menu ul{
	display: flex;
	line-height: 7vh;
	list-style-type: none;
	text-align: center;
}

.menu ul li{
	margin-left: 8vw;
	text-align: center;
	font-size: 25px;

}
.menu ul li a{
	text-decoration: none;
	color:  black;
	text-align: center;
}
.menu ul li :hover{
	background: white;
	color: pink;
	text-align: center;
}

/*div{*/
	border: red solid
}
.sec1 .parent1{
	display: inline-block;
	margin-top: 60px 0;
}
.sec1{
	background-image: url(./img/tuber.jpg);
	height: 660px;
	width: 99.8%;
	margin: 0rem;
	background-repeat: no-repeat;
	background-size: cover;
}
.para h2{
	font-size: 30px;

}
.para h1 {
	margin: 0;
}
.para p{
	margin-top: 20px;
	font-size: 20px;
}
.sec1 .icon{
	position: relative;
	color: white;
	font-size: 30px;
	/*left: 74px;*/
	top: 30px;
	letter-spacing: 7px; 
}
.sec1 .para{
    margin: 180px 83px;
	color: wheat;
	/*padding: 2px 2px;	*/
}
.sec1 .para h1{
	font-weight: bolder;
	font-family: monospace;
	letter-spacing: -3px;
	font-size: 50px;
	word-spacing: -4px;
}
.sec1 .para h3{
	
	font-size: 20px;
	/*word-spacing: 40px;*/
}
.last{
	/*word-spacing: 90px;*/
	font-size: 12px;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	margin-top: 50px;
}
.sec1 button{
	width: 180px;
	height: 36px;
	background-color: #f30d57;
	border-radius: 4px;
	border-style: none;
	margin-top: 20px;
	font-size: 14px;
	word-spacing: 2px;

	/*font-size: 20px;*/
}
.sec1 button span{
	position: relative;
	color: white;
   	right: 70px;
    bottom: 39px;
	font-size: 27px;
}
.sec button:hover{
	background-color: darkturquoise;


}
.sec1 button h4{
	color: white;
	margin-top: 10px;
}
.sec2 h1{
	font-weight: bolder;
	font-size: 30px;
	letter-spacing: 1.5px;
}
.sec2 .box .header2{
	/*display: grid;*/
	/*grid-column: 50%;*/
	/*grid-template-columns: repeat(2, 1fr)*/
}

.sec2 .header2{
	margin-left: 381px;
    margin-top: -324px;
}
.sec2 .header{
	margin-left: 40px;
}
.sec2 .box{
	width: 300px;
	height: 300px;
	margin-left: 50px;
	background-image: url(./img/loss.PNG);
	background-attachment: all;
	border-radius: 10px;
	background-color: #dedddd;
	
}
.sec2 h4{
	color: gray;
}
.lose{
	background-color: pink;
	border-radius: 100px;
}
.parent{
	display: grid;
	color: #403a3a;
	float: right;
	margin-right: 400px;
	grid-template-columns: repeat(2, 1fr);
	font-size: 18px;
	
	/*margin-left: 50px;*/
	
	

}
.header2 p{
	color: #403a3a;
}
.btn-parent button{
	color: white;
	width: 200px;
	border-radius: 4px;
	height: 40px;
	background-color: #f30d57;
	border-style: none;
	/*background-color: pink;*/
}
.btn-parent i{
	color: white;
	position: relative;
	right: 80px;
	bottom: 30px;
	font-size: 20px;

}
.sec2 .boxes{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20% 20%;
	margin-top: 300px;
	margin-left: 120px;
	grid-row-gap: 1px;
	/*background-color: gray;*/
}
.sec2 .boxes i{
	/*width: 200px;*/
	/*height: 100px;*/
	/*background-color: black;*/
	font-size: 30px;
	position: relative;
	left: 50px;
	top: 20px;
}
.sec2 .box1{
	width: 130px;
	position: relative;
	right: 30px;
	background-color: black;
	border-radius: 6px;
	color: white;
}.sec2 .box2{
	width: 130px;
	position: relative;
	right: 30px;
	background-color:black;
	border-radius: 6px ;
	color: white;
}.sec2 .box3{
	width: 130px;
	position: relative;
	right: 30px;
	background-color: black ;
	border-radius: 6px;
	color: white;
}.sec2 .box4{
	width: 130px;
	position: relative;
	right: 30px;
	background-color: black ;
	border-radius: 6px;
	color: white;
}.sec2 .box5{
	width: 130px;
	position: relative;
	right: 30px;
	background-color: black;
	border-radius: 6px;
	color: white;
}
.boxes p{
	margin-top: 30px;
	margin-left: 30px;
}
.experience{
	display: grid;
	padding: 98px;
	grid-template-columns: 50% 50%;
	margin-left: 30px;
}
.experience h2{
	margin-left: -40px;
	padding: 10px;
}
.experience p{
	color: #5b5b5b;
}
.experience::before {
	content: ""
	width: 5px;
	position: absolute;

	height: 400px;
	background-color: red;	
	/*margin-left: 30px;*/
}
.experience h5{
	color: #565656c4;
}
.work h1{
	padding: 0 60px;
	font-size: 35px;
	font-weight: bolder;
	border-radius: 10px;
}
.heading p{
	padding: 0 60px;
	/*font-size: px;*/
	color: gray;
	margin: 0;

}
.work .work1 {
	width: 260px;
	height: 260px;
	background-color: #f3f3f3;
	position: relative;
	left: 100px;
	padding: 2px;
}
.work h1{
	text-align: center;
	margin-left: 20px;
}
.work p{
	text-align: center;
	margin-left: 20px;
}
.work h2{
	text-align: center;
	letter-spacing: 1px;
}
.work .mainpara {
    text-align: left;
    margin-left: 20px;
}
.work .mainhead{
	text-align: left;
}
.boxes2 .work2{
	width: 260px;
	height: 260px;
	position: relative;
	left: 100px;
	padding: 2px;
	background-color: #f3f3f3;
}
.boxes2 .work3{
	width: 260px;
	height: 260px;
	position: relative;
	left: 100px;
	padding: 2px;
	background-color: #f3f3f3;
}
.boxes2 .work4{
	width: 260px;
	height: 260px;
	position: relative;
	left: 100px;
	padding: 2px;
	top: 30px;
	background-color: #f3f3f3;
}
.boxes2 .work5{
	width: 260px;
	height: 260px;
	position: relative;
	left: 100px;
	top: 30px;
	padding: 2px;
	background-color: #f3f3f3;
}
.boxes2 .work6{
	width: 260px;
	position: relative;
	left: 100px;
	top: 30px;
	padding: 2px;
	height: 260px;
	background-color: #f3f3f3;
}
.work .boxes2{
	display: grid;
	margin-top: 30px;
	grid-template-columns: 30% 30% 30%;
}
.sec3 .head h1{
	margin-left: 50px;
	font-size: 35px;
	font-weight: bolder;
}
.sec3 .head p{
	margin-left: 50px;
	color: gray;
	/*font-size: 35px;*/
	/*font-weight: bolder;*/
}
.sec3 .box1{
	width: 300px;
	height: 300px;
	position: relative;
	left: 100px;
	background-color: #ece6e6;
}
.sec3 span{
	font-size: 20px;
	position: relative;
	bottom: 65px;
	color: #f30d57;;
	left: 250px;
}
.sec3 .box2{
	width: 300px;
	height: 300px;
	position: relative;
	left: 100px;
	background-color: #ece6e6;
}
.sec3 .box3{
	width: 300px;
	height: 300px;
	position: relative;
	left: 100px;
	background-color: #ece6e6;
}
.sec3 .box4{
	width: 300px;
	height: 300px;
	position: relative;
	left: 100px;
	top: 30px;
	background-color: #ece6e6;
}
.sec3 img{
	width: 300px;
	height: 250px;
	position: relative;
	left: 0px;
	bottom: 80px;
}
.sec3 .box5{
	width: 300px;
	height: 300px;
	position: relative;
	left: 100px;
	top: 30px;
	background-color: #ece6e6;
}
.sec3 .box6{
	width: 300px;
	height: 300px;
	position: relative;
	left: 100px;
	top: 30px;
	background-color: #ece6e6;
}

.sec3 h4{
	top: 240px;
	left: 20px;
	color: #3a3030;
	font-size: 20px;
	position: relative;
}
.sec3 .workboxes{
	display: grid;
	grid-template-columns: 30% 30% 30%;
}
.sec4 .heading h1{
	margin-left: 55px;
	font-size: 35px;
	font-weight: bolder;
}
.sec4 .heading p{
	/*margin-left: 50px;*/
	color: gray;
	margin: 0;
	/*font-size: 35px;*/
	/*font-weight: bolder;*/
}
.sec4  i::before{
	content: "\f10e";
    border: 2px solid red;
    padding: 8px;
    border-radius: 50%;
}
.sec4 .icon {
	position: relative;
	font-size: 20px;
	color: #f30d57;
	bottom: 200px;
	display: grid;
	grid-column-gap: 335px;
	grid-template-columns: 50% 50%;
	left: 250px;
}
.sec4 .boxes3 p{
	color: #423939;

	
}
.sec4 .box1{
	height: 150px;
	width: 300px;
	left: 100px;
	top: 30px;
	padding: 50px;
	position: relative;
	background-color: #ece6e6;
	margin-right:40px;
}
.sec4 .box2{
	height: 150px;
	width: 300px;
	left: 100px;
	top: 30px;
	padding: 50px;
	position: relative;
	background-color: #ece6e6;
	
}
.sec4 .boxes3{
	display: grid;
	grid-template-columns: 50% 50%;
}
.sec4 .boxes3 h4 h5{
	display: inline;
	/*grid-template-columns:  25% 25%;*/
03170570037
}
.sec5 .heading h1{
	margin-left: 55px;
    font-size: 35px;
    font-weight: bolder;
}
.sec5{
	height: 1500px;
}
.sec5 .box1 img{
	width: 560px;
	height: 400px;
	position: relative;
	left: 0px;
	bottom: 100px;
	padding: 149px 14px; 
}
.sec5  button{
	width: 166px;
    height: 40px;
    background-color: #f30d57;
    color: wheat;
    position: relative;
    left: 30px;
    border-style: none;
    border-radius: 7px;
}
.sec5 .sub-box1 h5{
	display: inline;
	word-spacing: 4px;
	font-size: 17px;
}
.sec5 .sub-box1 {
    height: 250px;
    width: 471px;
    background-color: #ece6e6;
    padding: 35px 18px;
    /*position: relative;*/
    position: relative;
    bottom: 1071px;
    left: 100px;
}
.sec5 .sub-box2 h5{
	display: inline;
	word-spacing: 4px;
	font-size: 17px;
	
}
.sec5 .sub-box2 {
    height: 250px;
    width: 500px;
    background-color: #ece6e6;
    padding: 35px 18px;
    /* position: relative; */
    position: relative;
    bottom: 1390px;
    left: 840px;
}
.sec5 .text-box {
    display: grid;
    grid-template-columns: 685px 85px;
}	
.sec5 .sub-box3 h5{
	display: inline;
	word-spacing: 4px;
	font-size: 17px;
}
.sec5 .sub-box3 {
    height: 250px;
    width: 471px;
    background-color: #ece6e6;
    padding: 35px 18px;
    /*position: relative;*/
    position: relative;
    bottom: 1000px;
    left: 100px;
}
.sec5 .sub-box4 h5{
	display: inline;
	word-spacing: 4px;
	font-size: 17px;
}
.sec5 .sub-box4 {
    height: 250px;
    width:500px;
    background-color: #ece6e6;
    padding: 35px 18px;
    /*position: relative;*/
    position: relative;
    bottom: 1315px;
    left: 850px;
}
.sec5 .text-box i{
	position: relative;
	font-size: 20px;
	left: 50px;
	bottom: 40px;
}
.sec5 .btn-blog h4 {
    margin-right: 25px;
    /*margin-bottom: /*30px*/
}
.sec5 .box1{
	display: grid;
	grid-template-columns: 50% 50%;
}
.sec6 h1{
	margin-left: 50px;
	font-size: 30px;
}
.sec6 .para {
	margin-left: 50px;
	color: gray;
}
.sec6 form{
	height: 480px;
	width: 500px;
	position: relative;
	left: 50px;
	padding: 4px 5px;
	background-color: #ece6e6;;
}
.sec6 input {
    width: 90%;
    box-sizing: border-box;
    height: 40px;
    margin-left: 20px;
    border-style: none;
    border-radius: 4px; 
    margin-top: 20px;
}
.sec6 textarea{
	margin-left: 20px;
	margin-top: 20px;
	/*width: 200px;*/
	border-style: none;
	/*margin: 20px 0px 0px 20px;*/
    width: 446px;
    height: 147px;
}
.sec6 button{
	width: 166px;
    height: 40px;
    background-color: #f21e4e;
    color: wheat;
    position: relative;
    left: 18px;
    border-style: none;
    border-radius: 7px;
    top: 47px;
}
.sec6 button i{
	position: relative;
    font-size: 20px;
    right: 60px;
    top: -31px;
}
.sec6 .end {
    float: right;
    margin-top: -506px;
}
.sec6 .end span{
	color: #f21e4e;
}

/*.parent{
	position: relative;
	font-size: 2rem;
	padding: 80px;
}
.parent .child::before{
	content: '';
	position: absolute;
	height: 50px;
	width: 50px;
	top: 120px;
    right: 526px;
    opacity: 30%;
	border-radius: 50%;
	

*/}

footer{
	background-color: #ece6e6;
	margin-top: 70px;
	height: 30px;
	letter-spacing: 2px;
	padding: 20px;
}

