body{
    margin: 0px;


}
.heading1{
    text-transform: capitalize;
    font-size: 50px;
    font-style: italic;
    color: white;
}
.pera1{
    font-style: italic;
    font-size: 20px;
    color: white;
}
.heading2{
    font-style: oblique;
    font-size: 50px;
    color: white;
}
.smallp{
    font-size: 50;
    color: rgb(250, 234, 234);
}
/* section1 */
.sec1{
    overflow: hidden;
    height: 500px;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(images/3.png);
    background-size: 100% 100%;   
}

.box1{
    border:none;
    padding-left: 120px;
    
}
.fa .fa .fas-fa{
    position: absolute;
    /* padding: 30px; */
    
}
.sec1 .grid-1{
    display: grid;
    grid-template-columns: 56% 44%;
    grid-gap: 10px;
}
.fa-car{
    margin-left: -20px;
}
.fa-map-marker{
    margin-left: -20px;
}
.fa-home{
    margin-left: -20px; 
}
.fa-comment{
    margin-left: -20px;
}
.pera1{
    font-size: 20px;
    font-style: italic;
}
.box1-1{
    background-color: yellow;
    width: 255px;
    padding-left: 57px;
    height: 373px;
    padding-top: 43p
}
.input{
    height: 70px;
}
.btn-primary{
    padding-bottom: 10px;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    /* text-align: center;   */
}
.fa-icon{
    right: 20px;
}
/* section2 */
.sec2{
    padding-left: 35;
    /* display: grid; */
    /* grid-template-columns: 50% 50%; */
    height: 500px;
    /* width: 100%; */
    background-image: url(/images/11204.jpg);
    background-size: 100% 100%;
}
.heading3{
    font-size: 40px;
    font-style: italic;
    /* text-align: center; */
    margin:0px;
    padding-top: 150px;
}
.pera3{
    text-transform: capitalize;
    font-size: 20px;
    font-style: italic;
}
.btn-secondary{
    
    color: cornsilk;
   background-color: black;
   padding: 10px 16px;
   border: 1px solid;


}
/* section 3 */
.sec3{
    margin: 0px;
    height: 620px;
    width: 100%;
    background-color: aquamarine;
    background-image: url(images/2.PNG);
    background-size: 100% 100%;

}
.heading4{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-style: italic;

}
.pera4{
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-style: italic;
}
.sec3 .icon .grid-a{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    color:rgb(231, 23, 16);
    padding-left: 80px;
    margin: 150px;
    
}
.sec3 i{
    font-size: 25px;
}
.parent-div{
    margin: 50px;
}
.icon-p{
    font-size: 10px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    /* -webkit-text-emphasis: double-circle;`` */

}
/* section4 */
.sec4{
    background-color: rgba(252, 252, 253, 0.034)(0, 0, 255, 0.034)(0, 0, 255, 0.034)(0, 0, 255, 0.034)(0, 0, 255, 0.034)(0, 0, 255, 0.034)(0, 0, 255, 0.034);
    
}
.navbar{
    padding-left: 55px;
}
.heading5{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    color: rgb(7, 7, 7);
}  
.pera5{
     font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60PX;
    margin-bottom: 30px;
}
.sec4 .warpper .navbar ul{
    display: grid;
    grid-template-columns: repeat(5 , 2fr) ;
    padding: 15px;
    font-size: 20PX;
}
.sec4 .main-pic{
    display: grid;
    grid-template-rows: 20% 20% 20% ;
    text-align: center;
    grid-gap: 30px;
}
/* section 5 */
.sec5 .grid-0{
    display: grid;
    grid-template-columns: 50% 50%;
}
.sec5{
    padding-left: 75px;
    background-size: 100% 100%;
    height: 110vh;
    background-color: rgb(46, 35, 35);
    color: white;
    /* position: relative; */
}
.heading6{
    padding: 0px;
    font-style: italic;
    font-size: 40px;
    
}
.lorem5{
    /* font: italic; */
    color: white;
}
.heading7{
    text-decoration: underline;
}
.img-inayat{
     text-align: center;
}
/* section6 */
.sec6{

} 
.last-img{
height: 750px;
width: 100% 100%;

}
/* section7 */
.sec7 .grid001{
    display: grid;
    grid-template-columns: 50% 50%;
}
.sec7{
    background-color: rgb(48, 46, 46);   
}
.heading20{
 color: white;
 padding-left: 44px;
 margin: auto;
 font-size: 20px;
}
.i-fab{
    word-spacing: 1rem;
    font-size: 20px;
    padding: 45px;
    margin: auto;
}
