.h1{
    margin-left:282px;
    font-size: 30px;
    color: white;
}
.s1{
    background-image: url(./images/IMG_20210103_132253_384.jpg);
    background-size: 1449px;
    background-position: -3px 0px;
}
.d2{
    margin-left: 10px;
}
.d3{
    text-align: center;
}
.home{
    border-radius: 60px;

    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3px;  
    padding:40px;
}
body{
    margin: 0px;
}
.s4{
    background-color: lightgrey;
}
.d1{
    height: 340px;
    background-image: url(./images/qwe.png);
    background-position: 40% 5%;
    background-size: 480px;
}
.d2{
   
    background-color: white;

}
.navs{ 
font-size: 18px;
}
.navs1:hover{
    color: red;
}
.navs2:hover{
    color: red;
}
.navs3:hover{
    color: red;
}
.navs4:hover{
    color: red;
}
.navs5:hover{
    color: red;
}
.navs6:hover{
    color: red;
}
.navs7:hover{
color: red;
}
.fa-bring-forward{
    font-size: 40px;
    color: red;
}
.fa-mug-hot{
    color: red;
    font-size: 30px;
}
.fa-home{
    color: red;
    font-size: 30px;
}
.s3 .d5{
    text-align: center;
    
}
.s2{
    background-color: white ;
}
.bb{
    background: transparent;
    color: white;
    border-radius: 90px; 
    border-color: white;
    padding: 10px;
}
.bb:hover{
    background-color:red;
}
.b1{
    padding: 9px;
    background-color: red;
    color: white;

}
.d4{
    opacity: initial;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(95, 94, 94);
    width: 200px;
    height: 200px;
    background-color: lightgrey;
}
hr{
    border-top: 1px solid red;
    width: 55px;
}
.DD{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 70px;
    margin-left: 195px;
}
.fa-facebook{
    border: solid;
    border-color: rgb(36, 35, 35);
    border-radius: 50px;
    background-color: black;
    color:white;
    font-size:25px;
    border-width: 2px;
}
.fa-twitter{
    border: solid;
    border-color: rgb(36, 35, 35);
    border-radius: 50px;
    color:black;
    border-width: 2px;
    font-size:25px;
}
.fa-linkedin{
    border: solid;
    border-width: 2px;
    border-color: rgb(36, 35, 35);
    border-radius: 50px;
    color:white;
    background-color: black;
    font-size:25px;
}
.fa-instagram{
    border: solid;
    border-width: 2px;
    border-color: rgb(36, 35, 35);
    border-radius: 50px;
    color:white;
    background-color: black;
    font-size:25px;
}
.d8{
    background-image: url(./images/albert-dera-ILip77SbmOE-unsplash.jpg);
    background-size: 131px;
    height: 130px;
    width: 130px;
    border-radius: 90px;
}
.d11{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
 
    padding: 0% 22%;
   
}
.d13{
    background-image: url(./images/a.png);
    background-size: 292px;
    background-position: 52% 133%;
    height: 156px;
    width: 292px;
}
.d13a{
    background-image: url(./images/b.png);
    background-size: 292px;
    background-position: 33% 54%;
    height: 156px;
    width: 292px;
}
.d13b{
    background-image: url(./images/c.png);
    background-size: 247px;
    background-position: 81% 92%;
    height: 156px;
    width: 292px;}
    .d13c{
        background-image: url(./images/d.png);
        background-size: 264px;
        background-position: 13% 57%;
        height: 156px;
        width: 292px;
    }
    .d11a:hover{
background-color:red;
border-radius: 40px;    
}
    .d11b:hover{
background-color:red;
border-radius: 40px;}
    .d11c:hover{
background-color:red;
border-radius: 40px; }
    .d11d:hover{
background-color:red;
border-radius: 40px;  }
    .d11e:hover{
background-color:red;
border-radius: 40px; }
        .d13d{
            background-image:url(./images/e.png);
            background-size: 310px;
            background-position: 86% 57%;
            height: 156px;
            width: 292px;}
.d13e{
    background-image: url(./images/f.png);
    background-size: 241px;
    background-position: 66% 44%;
    height: 156px;
    width: 292px;}
.d12{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 8px;
    padding-left: 32px;
}
.d15{
    margin-left: 49px;
    display: grid;
    grid-template-columns: 30.33% 30.33% 30.33%;
    grid-gap: 21px;
}
.d16a{
    border: solid px black;
    background-color: white;
    width: 273px;
    height: 357px;
}
.d16b{
    background-color: white;
    width: 273px;
    height: 357px;
}
.d16c{
    background-color: white;
    width: 273px;
    height: 357px;
}
.s6{
padding: 20px; 
}
.d18{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.d18a{
    height: 90px;
    width: 337px;
    background-color: white;
}
.a1{
    color:white;
    text-align:right;
}
.b1:hover{
    background-color:gold;
    
}
