body{
    margin: 0px;
    font-family: sans-serif;
    padding: 0px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.slider {
    position: relative;
    background: url('./img/banner.jpg') no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.heading {
    color: #fff;
    font-size: 80px;
    text-align: center;
    position:relative;
    font-weight: 600;
    opacity: 0.9;
}

.sub-heading h2 span,
.heading span {
    position: absolute;
    font-size: 28px;
    font-weight: 100;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
}

.section-padding {
    padding: 80px 0;
}

.sub-heading h2 {
    position: relative;
    color: #333;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
}

.sub-heading h2 span {
    font-size: 20px;
    color: #999;
    top: -35px;
}
.btn {
    letter-spacing: 1px;
    padding: 5px 10px;
    border: 1px solid;
    margin-top: 10px;
}
.btn-primary {
    background-color: rgb(51, 51, 240);
    color: white;
    border-color: rgb(51, 51, 240);
    border-radius: 4px;
    opacity: 0.9;
}
.btn-primary:hover {
    background-color: red;
    border-color: red;
    cursor: pointer;
}
.btn-primary:focus {
    outline: none;
}
.btn-secondary{
    background-color: transparent;
    color: white;
    border-color: white;
}
.btn-secondary:hover {
    background-color: black;
    border-color: black;
    cursor: pointer;
}
.btn-secondary:focus {
    outline: none;
}

/*Section 1 starts here*/
.sec1{
    background-color: white;
}
.container1 {
    position: relative;
    text-align: center;
    color: white;
}
.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: brown;
}
hr{
    width: 15%;
    align-items: center;  
    color: goldenrod; 
    margin-bottom: 20px; 
} 
h1{
    color: white;
}

h6{
    color: white;
}
h4{
    color: white;
}
h5{
    padding-top: 100px;
    color: gray;
}
/*Section 1 end here*/

/*Section 2 starts here*/

.box1{
    border: none;
    display: flex;
    /* padding: 0px 240px; */
}

.box1 div {
    flex: 1;
    margin: 15px;
}

.box1 div img {
    width: 100%;
    height: 100%;
}
/*Section 2 ends here*/

/*Section 3 Starts here*/
.section-padding2{
    background-color: rgb(238, 238, 238);
    padding: 80px 0;
}
.grid-item1 h3 {
    color: #333;
    font-size: 15px;
}
.grid-table1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
    
}
.grid-item1{
    border: black 2px;
    padding: 10px 50px;
    background-color: white;
    margin: 15px;
}
.grid-item1 p{
    color: #333;
    line-height: 1.8;
}
progress{
    width: 450px;
    height: 10px;
}
/*Section 3 ends here*/

/*Section 4 starts here*/
.section-padding3{
 background-color: white;
 padding: 80px 0;
}
.container-fluid{
    margin-left: 250px;
}
#head{
    margin: 0px;  
    width: 80%;
    height:4rem;
    overflow: hidden;
}
.container-fluid .list1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}
.container-fluid .list1 li a{
    color: black;
    text-decoration: none;
}
.container-fluid .list1 li a:hover{
    background-color: blue;
    color: white;
    padding: 5px 1px;
}
.container-fluid .list1 li a:active{
    background-color: blue;
    color: white;
}
.box1{
    border: none;
    display: flex;
    /* padding: 0px 240px; */
}

.box1 div {
    flex: 1;
    margin: 15px;
}

.box1 div img {
    width: 100%;
    height: 100%;
}
/*Section 4 ends here*/

/*Section 5 starts here*/
.section-padding4{
    background-color: rgb(238, 238, 238);
    padding: 80px 0;
}
  .testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 80px;
}
  .testimonial img{
    border-radius: 20%;
}
.testimonial{
    padding: 10px 50px;
    background-color: white;
    margin: 10px 40px;
    text-align: center;
}
/*Section 5 ends here*/

/*Section 6 starts here*/
.sec6{
    background-image: url(./img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
}
.center2 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
 }
.test{
    width:30%;
    align-items: center;  
}
/*Section 6 ends here*/

/*Section 7 starts here*/
.section-padding5{
    padding: 80px 0;
}
.grid-article{
    display:grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px;
    padding-bottom: 80px;
}
.article{
    border: none;
    padding: 0px 240px;
}
/*Section 7 ends here*/

/*Section 8 starts here*/
.section-padding6{
    background-color: rgb(238, 238, 238);
    padding: 80px 0;
}
.grid-contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.contact{
    border: none;
    padding: 10px 50px;
    background-color: white;
    margin: 10px 40px;
    text-align: center;
}
form{
    padding-bottom: 100px;
}
.form-bg{
    text-align: center;
    display: block;
    width: 90%;
    padding: 20px;
    padding-left: 50px;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: none;
}
textarea{
    width: 100%;
    border: none;
}
/*Section 8 ends here*/
