body{
    margin: 0px;
    font-family: sans-serif;
    padding: 0px;
}
.btn {
    letter-spacing: 1px;
    padding: 5px 10px;
    border: 1px solid;
}
.btn-primary {
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 4px;
}
.btn-primary:hover {
    background-color: red;
    border-color: red;
    cursor: pointer;
}
.btn-primary:focus {
    outline: none;
}
.btn-secondary{
    background-color: transparent;
    color: white;
    border-color: white;
}
.btn-secondary:hover {
    background-color: black;
    border-color: black;
    cursor: pointer;
}
.btn-secondary:focus {
    outline: none;
}

/*Section 1 starts here*/
.sec1{
    background-color: white;
}
.container1 {
    position: relative;
    text-align: center;
    color: white;
}
.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: brown;
}
hr{
    width: 15%;
    align-items: center;  
    color: goldenrod; 
    margin-bottom: 20px; 
} 
h1{
    color: white;
}

h6{
    color: white;
}
h4{
    color: black;
}
h5{
    padding-top: 100px;
    color: gray;
}
/*Section 1 end here*/

/*Section 2 starts here*/
.sec2{
    background-color: white;
}
div.services{
    text-align: center;
}
.gridBox1{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding-bottom: 80px;    
}
.box1{
    border: none;
    padding: 0px 240px;
}
/*Section 2 ends here*/

/*Section 3 Starts here*/
.sec3{
    background-color: rgb(238, 238, 238);
}
.expertise{
    text-align: center;
}
table{
    width: 100%;
    text-align: left;
}
th{
    padding: 30px;
}
.grid-table1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-item1{
    border: black 2px;
    padding: 10px 50px;
    background-color: white;
    margin: 10px 40px;
}
.grid-table2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
}
.grid-item2{
    border: black 2px;
    padding: 5px 50px;
    background-color: white;
    margin: 5px 40px;
}
progress{
    width: 450px;
}
/*Section 3 ends here*/

/*Section 4 starts here*/
.sec4{
 background-color: white;
}
.portfolio{
    text-align: center;
}
.container-fluid{
    margin-left: 250px;
}
#head{
    margin: 0px;  
    width: 80%;
    height:4rem;
    overflow: hidden;
}
.container-fluid .list1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}
.container-fluid .list1 li a{
    color: black;
    text-decoration: none;
}
.container-fluid .list1 li a:hover{
    background-color: blue;
    color: white;
    padding: 5px 1px;
}
.container-fluid .list1 li a:active{
    background-color: blue;
    color: white;
}
.gridBox3{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 80px;
}
.box3{
    border: none;
    padding: 0px 240px;
}

/*Section 4 ends here*/

/*Section 5 starts here*/
.sec5{
    background-color: rgb(238, 238, 238);;
}
.testimonials{
      text-align: center;
}
  .testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 80px;
}
  .testimonial img{
    border-radius: 20%;
}
.testimonial{
    padding: 10px 50px;
    background-color: white;
    margin: 10px 40px;
    text-align: center;
}
/*Section 5 ends here*/

/*Section 6 starts here*/
.sec6{
    background-image: url(./img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
}
.center2 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
 }
.test{
    width:30%;
    align-items: center;  
}
/*Section 6 ends here*/

/*Section 7 starts here*/

.articles{
    text-align: center;
}
.grid-article{
    display:grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px;
    padding-bottom: 80px;
}
.article{
    border: none;
    padding: 0px 240px;
}
/*Section 7 ends here*/

/*Section 8 starts here*/
.sec8{
    background-color: rgb(238, 238, 238);
}
.contacts{
    text-align: center;
}
.grid-contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.contact{
    border: none;
    padding: 10px 50px;
    background-color: white;
    margin: 10px 40px;
    text-align: center;
}
form{
    padding-bottom: 100px;
}
.form-bg{
    text-align: center;
    display: block;
    width: 90%;
    padding: 20px;
    padding-left: 50px;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: none;
}
textarea{
    width: 100%;
    border: none;
}

/*Section 8 ends here*/
