/* helper classes start here */
body{
    margin: 0px 0px;
    padding: 0px;
    background-color: white;
   
}
.container-fluid{
    margin: -15px 0px;
    padding: 15px 0px;
}
/* helper classes end here */
#head{
    background-color: darkcyan;
    margin: 0px;
    padding: 20px 30px;
    width: 100%;
    height:4rem;
    overflow: hidden;
}
.container-fluid .list1{
    display: grid;
    grid-template-columns: 8% 8% 8% 10% 8% 8% 8%;
    grid-column-gap: 5px;
    list-style-type: none;
   


}
.container-fluid .list1 li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;

}
.container-fluid .list1 li a:hover{
    background-color: grey;
    color: blue;
}
.container-fluid .list1 li a:active{
    background-color: blue;
    color: black;
}
 
#sec1{
    
    background-image:url(../day3/images1/NicePng_girl-with-laptop-png_2585789.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  
   
}
#sec1 .icons{
    margin: 0rem 1.5rem;
    padding: 20px 50px;
}
#sec1 .icons i{
    padding:5px;
    color: black;
}
.division h1{
    text-align: left;
    margin-left: 4rem;
    font-size: 40px;
    padding-top: 6rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.division p{
    text-align: left;
    margin-left: 4rem;
    font-size: 18px;
}
.division button{
    color: white;
    text-align: left;
    margin-left: 4rem;
    width: 10rem;
    height: 2rem;
    background-color:crimson;
    border: none;
    padding-left: 2rem;
    text-transform: capitalize;
    border-radius: 5px;
}
.division button i{
    color: white;
    font-size: 12px;
}

#sec2{
    background-color:white;
    width: 100%;
    height: 100vh;

}
.h1-p p{
    margin: 2% 8%;  
}
.h1-p h1{
    margin: 2% 14%;
     text-transform: capitalize; 
     font-size: 35px;
} 
.division1 img{
    width: 350px;
    height: 300px;
    margin-left: 45%;
    background-color: whitesmoke;
}
#sec2 .grid{
    display: grid;
    grid-template-columns: 45% 55%;
    padding-top: 4%;
}
#sec2 .sub-grid{
    display: grid;
    grid-template-columns: 40% 40%;
}
#sec2 .box1{
    border: none;
    width:250px;
    height: 150px;
    text-transform: capitalize;
    padding: 2%;
}
#sec2 .box2{
    border: none;
    width:250px;
    height: 150px;
    text-transform: capitalize;
    padding: 2%;
}
#sec2 .box1 p{
    font-size: 18px;
}
#sec2 .box2 p{
    font-size: 18px;
}
.para1 h3{
    text-transform: capitalize;
    margin: 0px 90px;
}
#sec2 .box1 button{
    width: 10rem;
    height: 2rem;
    background-color:blue;
    border: none;
    margin: 0px 90px;
}
.sec .sec3-boxes .bx1, .bx2, .bx3, .bx4, .bx5, .bx6{
    border: 1px solid red;
    width: 130px;
    height: 130px;
    background-color:lightgray;

} 
.sec .sec3-boxes{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-column-gap: 20px;
    padding-left: 10%;
   
   
}

#sec3{
    width: 100%;
    height: 100vh;
    background-color:white;
}
.boxes{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-column-gap: 0px;
    margin:0px 90px ;
    padding: 40px 3rem;
    
    
}
.boxes h3,p{
    padding: 0px 50px;
    padding-left: 5rem;
    margin: 20px 10px;
    text-transform: capitalize;
    
}
.first-box{
 border: none;
 background-color: whitesmoke;
 box-shadow: 5px;
 width: 500px;
 height: 460px;
 box-sizing: border-box;

}
.second-box{
    background-color: whitesmoke;
    border: none;
    box-shadow: 5px;
    width: 500px;
    height: 460px;
    box-sizing: border-box;
   }
 

#sec4{
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: auto;

}
.div-boxes .box1{
    border: 1px solid black;
    background-color:lightgray;
    width: 280px;
    height: 230px;
    text-align: center;
}
.div-boxes .box2{
    border: 1px solid black;
    background-color:lightgray;
    width: 280px;
    height: 230px;
    text-align: center;
}
.div-boxes .box3{
    border: 1px solid black;
    background-color:lightgray;
    width: 280px;
    height: 230px;
    text-align: center;
}
.div-boxes .box4{
    border: 1px solid black;
    background-color: lightgray;
    width: 280px;
    height: 230px;
    text-align: center;
}
.div-boxes .box5{
    border: 1px solid black;
    background-color: lightgray;
    width: 280px;
    height: 230px;
    text-align: center;
}
.div-boxes .box6{
    border: 1px solid black;
    background-color:lightgray;
    width: 280px;
    height: 230px;
    text-align: center;
}
.div-boxes {
    margin: 2% 15%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 45px;
    grid-row-gap: 15px;
    box-sizing: border-box;
}
.inside-box1{
    border: 1px solid red;
    border-radius: 5rem;
    margin: 8px 120px;
    width: 50px;
    height: 40px;
    padding-top: 12px;
    font-size: 25px;
}
.inside-box2{
    border: 1px solid red;
    border-radius: 5rem;
    margin: 8px 120px;
    width: 50px;
    height: 40px;
    padding-top: 12px;
    font-size: 25px;
}
.inside-box3{
    border: 1px solid red;
    border-radius: 5rem;
    margin: 8px 120px;
    width: 50px;
    height: 40px;
    padding-top: 12px;
    font-size: 25px;
}
.inside-box4{
    border: 1px solid red;
    border-radius: 5rem;
    margin: 8px 120px;
    width: 50px;
    height: 40px;
    padding-top: 12px;
    font-size: 25px;
}
.inside-box5{
    border: 1px solid red;
    border-radius: 5rem;
    margin: 8px 120px;
    width: 50px;
    height: 40px;
    padding-top: 12px;
    font-size: 25px;
}
.inside-box6{
    border: 1px solid red;
    border-radius: 5rem;
    margin: 8px 120px;
    width: 50px;
    height: 40px;
    padding-top: 12px;
    font-size: 25px;
}
#sec4 .para1 h1{
    margin: 5px 15%;
    font-size: 30px;
}
#sec4 .para1 p{
    padding-left: 14%;  
}
#sec5{
    background-color:white;
    width:100%;
    height: 140vh;
}
.main-div{
    display: grid;
    grid-template-columns: 35% 35% 35%;
    grid-row-gap: 15px;
    padding: 2% 13%;
}
#sec5 .para2 h1{
    margin: 5px 15%;
    font-size: 30px;
    }
#sec5 .para2 p{
       padding-left: 14%;
    }
.con1{
    width: 300px;
    height: 320px;
    background-color: white;
    border: 3px solid whitesmoke;
}
.con2{
    width: 300px;
    height: 320px;
    background-color: white;
    border: 3px solid whitesmoke;
}
.con3{
    width: 300px;
    height: 320px;
    background-color: white;
    border: 3px solid whitesmoke;
}
.con4{
    width: 300px;
    height: 320px;
    background-color: white;
    border: 3px solid whitesmoke;
}
.con5{
    width: 300px;
    height: 320px;
    background-color: white;
    border: 3px solid whitesmoke;
}
.con6{
    width: 300px;
    height: 320px;
    background-color: white;
    border: 3px solid whitesmoke;
}
.con1 img{
    width: 300px;
    height: 260px;
}
.con2 img{
    width: 300px;
    height: 260px;
}
.con3 img{
    width: 300px;
    height: 260px;
}
.con4 img{
    width: 300px;
    height: 260px;
}
.con5 img{
    width: 300px;
    height: 260px;
}
.con6 img{
    width: 300px;
    height: 260px;
}
#sec5 .main-div p{
    padding-left: 2%;
    text-transform: capitalize;
}
#sec6{
    background-color: white;
    width: 100%;
    height: 100vh;
}
#sec6 .left-side{
    width: 360px;
    height: 250px;
    background-color: lightgray;
    border: none;
    padding-left: 10%;
}
#sec6 .right-side{
    width: 360px;
    height: 250px;
    background-color: lightgray;
    border: none;
    padding-left: 10%;
}
#sec6 .sides{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 5px;
    margin-left:13%;
    padding: 2%;   
}
#sec6 .para3 h1{
    margin: 5px 15%;
    font-size: 35px;
    }
#sec6 .para3 p{
       padding-left: 14%;
    }
#sec6 .left-side img{
    width: 50px;
    height: 50px;
    border-radius: 2rem;
    border: 2px double red;
    margin-left:-5% ;
    position: absolute;
    margin-top:7% ;
    
}
#sec6 .right-side img {
    width: 50px;
    height: 50px;
    border-radius: 2rem;
    border: 2px double red;
    margin-left:-7% ;
    position: absolute;
    margin-top:7% ;   
}
.left-side i{
    font-size: 2rem;
    color: red;
    margin: 20px 8rem;
}
.right-side i{
    font-size: 2rem;
    color: red;
    margin: 20px 8rem;
}





