body {
display: grid;
margin:40px ;
padding-left: 80px;
}
.sec1 
{
    background-image: url(./images/1.jpg);
    background-color: rgb(141, 137, 137);
    margin: 40px;
    padding-left: 80px;
    color: white;
    margin-right: 60px; 
}
.btn {
padding: 8px 20px;
letter-spacing: 0px;
background-color:rgb(54, 147, 223);
border: 2px;
border-radius: 15px;
color: white;
}
.btn:hover{
    background-color: rgb(243, 216, 61);
}
.sec3 {
margin: 40px;
padding-left: 80px;
background-image: url(./images/2.jpg);
}  
.sec3 .box1{
    background-color: whitesmoke;
    width: 340px;
    border-radius: 15px ;
}
.sec3 .box2{
    text-align: center ;
    background-color: whitesmoke;
    width: 340px;
    border-radius: 15px;
}  
.sec3 .box3 {
    background-color: whitesmoke;
    width: 340px;
    border-radius: 15px;
}
.sec4 {
    background-image: url(./images/3.jpg); 
    margin: 40px;
color: white;
height: 300px;
}
.sec4{
    font-size: 20px;
    display: grid;
    grid-template-columns:  20% 20% 20% 20%;
}
.sec5{
    color: steelblue;
    margin: 40px;
    padding-left: 80px;
}
.sec6 {
    padding-left: 30px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.sec7 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}