html,
body{
margin: 0%;
padding: 0%;
}
.container {
    margin: 0px 70px;
}
.grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.sec2 {
    background-image: url(../images/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;

}
.sec2 .sub-heading-title {
    color: #fff;
}
.sec3 tr td{
    text-align: center;

}
.sec2 .list-page {
    justify-items: end;
    display: grid;
    grid-template-columns: 80% 10%;
    padding: 0px;
    list-style-type: none;
}
.sec2 .list-page li {
   margin-left: 20px;
}
.sec2 .list-page li a {
    color: #fff;
}
.section{
    background-image: url(../images/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 32rem;
}
.section div{
    color: white;
    display: inline-block;
}
.div{
    display: inline-flex;
    padding: 1rem;
}
.unorder{
   word-spacing: 1rem;
   display: inline-flex;
}
.unorder li {
    margin-right: 10px;
}
.division{
    margin: 3rem;
}
.btn{
    color: black;
    padding-left: 60rem;
}
.thead{
    background-color: black;
    color: white;
}
.heading{
    border: 1px solid white;
    width: 20%;
    margin-left: 35rem;
}
.sec{
    background-color: black;
    color: white;
    height: 20rem;

}
.iv{
    text-align: center;
    padding-top: 4rem;
}
.span{
    font-size: 2rem;
    padding:1rem 2rem;
    margin-top: 3rem;
    border: 1px solid black;
    margin-bottom: 4rem;
    margin-left: 10rem;
    
}
.span1{
    font-size: 2rem;
    padding:1rem 2rem;
    margin-top: 3rem;
    border: 1px solid black;
    margin-bottom: 4rem;
    margin-left: 6rem;
    
}
.span2{
    font-size: 2rem;
    padding:1rem 2rem;
    margin-top: 3rem;
    border: 1px solid black;
    margin-bottom: 4rem;
    margin-left: 6rem;
}
.divi{
    display: flex;
    
}
.divin{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}