body{
    margin: 0px;
    padding: 0px;
}

li{
    padding-right: 30px;
    list-style: none;

}

.box2{

    margin-top: 23px;
    float: right; 
    justify-content: center;
     margin-right: 200px;
     margin-left:20px

}

.box1{
    float:left;    
    margin: 20px 0px 20px 180px;
    
}

.img{
    height: 51px;
    width: 112px;

}

.main{
    height: 300px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/project\ 1/images/images (55).jpg");
    background-position-y: center;
    
}

.one{
    color: white;
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 90px;

}


.two{
    color: white;
    float: right;
    width: 50%;
    margin-top: 100px;
    text-align: center;
}


ul{
    display: flex;
}

.div{
    font-size: 10px;
    margin-left: 190px;
    margin-top: 40px;

}